<h2>
Información del Producto
</h2>

<h3>{{producto.name}} </h3>
<td> <img src="img/imagenNoDisponible300.png"  alt="logo"/> </td>

<hr>

<div>
	<form ng-submit="addUpdateProducto()">
		
		<div ng-hide="creando">
			Codigo (ID):
			<br>
			<input type="text" class="form-control" ng-model="producto.id" readonly="readonly">
			<br>
		</div>

		SKU:
		<br>
		<input type="text" class="form-control" ng-model="producto.sku" required placeholder="SKU del Producto">
		<br>

		Nombre:
		<br>
		<input type="text" class="form-control" ng-model="producto.name" required placeholder="Nombre del Producto">
		<br>

		Precio:
		<br>
		<input type="text" class="form-control" ng-model="producto.price" required placeholder="Precio del Producto">
		<br>

		Descripción:
		<br>
		<textarea class="form-control" ng-model="producto.description" rows="3" placeholder="Descripción breve del Producto">
		</textarea>
		<br>
			Fecha de Creación:
			<br>
			<input type="text" class="form-control" ng-model="producto.created_at" placeholder="Fecha de creacion">
			<br>

			Fecha de Actualización:
			<br>
			<input type="text" class="form-control" ng-model="producto.updated_at" placeholder="Fecha de actualización">
		
		<br>


		<button type="submit" class="btn btn-primary">
			Guardar
		</button>

		<br><br>
		<p ng-show="actualizado"> Registro Actualizado</p>

	</form>


</div>
