    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="img/logo.jpg" height="80" width="80" alt="logo"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=  "#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded  ="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
      
          <li class="nav-item">
            <a class="nav-link" ui-sref="app.home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref="app.index">Index</a>
          </li>

          
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item" ng-if="!isAuthenticated()">
           <a ui-sref="app.login" class="nav-link">Sign In</a>
          </li>
          
          <li class="nav-item dropdown" ng-if="isAuthenticated()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ $storage.user.name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" ui-sref="app.usuarios.index">Usuarios</a>
              <a class="dropdown-item" ui-sref="app.productos.index">Productos</a>
              <a class="dropdown-item" ui-sref="app.listadeseos.index">Lista Deseos</a>
              <a class="dropdown-item" ui-sref="app.carritodecompra.index">Carrito</a>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" ng-click="logOut()">Log out</button>
            </div>
          </li>
        </ul>
        
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
