<h2><i class="material-icons">shopping_cart</i>Carrito de Compras</h2>
<hr>

<!-- <button type="button" class="btn btn-primary" ng-click="addItemCarrito()"> Añadir producto</button> -->
<div class="row">

	<table class="table table-striped">
		<tr>
			<th>ID producto</th>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Precio</th>
			
			<th></th>

		</tr>

		<tr ng-repeat="itemCarrito in $storage.carrito">
			<td> {{ itemCarrito.id }}</td>
			<td> {{ itemCarrito.name }}</td>
			<td> {{ itemCarrito.description }}</td>
			<td> {{ itemCarrito.price }}</td>
			<td>  <a ui-sref="app.productos.detalle({idproducto: itemCarrito.id})" class="btn btn-outline-success"> Ver Producto </a>
			<button type="button" class="btn btn-outline-danger" ng-click="removeItemCarrito(itemCarrito)"><i class="material-icons">remove_shopping_cart</i></button></td>

		</tr>
	</table>
	<br>

</div>
<div class="float-right">Total a pagar ${{ totalCompra }}
	<button type="button" class="btn btn-success" ng-click="comprar()">Comprar</button>
</div>