<h1><i class="material-icons">shopping_cart</i>Carrito de Compras</h1>
<hr>

<!--<button type="button" class="btn btn-primary" ng-click="addItemCarrito()"> Añadir producto</button>-->
<div class="row">

	<table class="table table-striped">
		<tr>
			<th>ID producto</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Cantidad</th>
			<th>Total</th>
			<th></th>

		</tr>

		<tr ng-repeat="carrito in $storage.carrito">
			<td> {{ carrito.productoId }}</td>
			<td> {{ carrito.name }}</td>
			<td> {{ carrito.price }}</td>
			<td> {{ carrito.lot }}</td>
			<td> {{ carrito.total }}</td>
			<td>  <a ui-sref="app.productos.detalle({idproducto: carrito.productoId})" class="btn btn-outline-success"> Ver Producto </a>
			<button type="button" class="btn btn-outline-danger" ng-click="removeItemCarrito($index)"><i class="material-icons">delete_forever</i></button></td>

		</tr>
	</table>
	<br>

</div>
<div class="float-right">Total a pagar ${{ totalCompra }}
	<button type="button" class="btn btn-success" ng-click="comprar()">Comprar</button>
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">