<h2> <i class="material-icons">supervisor_account</i> Usuarios</h2>

<div class="row" align="right">
		<button type="button" class="btn btn-primary" ui-sref="app.usuarios.detalle({idusuario: '000'})">
		Añadir Usuarios </button>
<br><br>
</div>
<!-- Encabezado de la tabla-->
<div class="row">
<table class="table table-striped">
	<thead>
		<tr>
			<td>ID</td>
			<td>Nombre</td>
			<td>Email</td>
			<td>UserName</td>
			<td>Password</td>
		 	<td>Rol</td>
		</tr>
	</thead>
<!-- fin del Encabezado -->

<!-- Caja de arreglo de los usuarios-->
	<tbody>
		<tr ng-repeat="usuario in $storage.usuarios">
			<td>{{usuario.id_usuario}}</td>
			<td>{{usuario.nombre}}</td>
			<td>{{usuario.email}}</td>
			<td>{{usuario.username}}</td>
			<td>{{usuario.password}}<td>
			<td>{{usuario.rol}}</td>
			<td>
				
				<button type="button" class="btn btn-outline-info"ui-sref="app.usuarios.detalle({idusuario: usuario.id_usuario})" class="btn btn-outline-success"> Editar</button>
				
				<button type="button" class="btn btn-outline-danger" ng-click="removeUsuario($index)"> &times;</button>
			</td>
		</tr>

	</tbody>
<!-- Fin de la caja de arreglo -->
</table>

<!-- Fin de la tabla-->