<h2> <i class="material-icons">list</i> Listas de Deseos</h1>

<!-- para crear una lista de Deseos-->
<div class="row">
  <form class="form-inline">
    <div class="form-group">

      <label for="listadeseo_nombre">Nombre de la lista:</label>
      <input id="listadeseo_nombre" type="text" name="nombre" class="form-control" ng-model="listadeseo.nombre">
    </div>
      <button type="button" class="btn btn-primary" ng-click="addListaDeseos(listadeseo.nombre)">Crear Lista</button>
  </form>
</div>
<br>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <td><b>Nombre</b></td>
        <td><b>Opciones</b></td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="listadeseo in $storage.listasdeseos">
        <!-- <td>{{listadeseo.id}}</td> -->
        <td>{{listadeseo.name}}</td>
        <td>
          <button type="button" class="btn btn-outline-info" ng-click="app.listadeseos.detalle({idlista: listadeseo.id})">Ver Detalle</button>
          <button type="button" class="btn btn-outline-info" ng-click="editarListaDeseos({name: listadeseo.name})">Editar Lista</button>
          
          <button type="button" class="btn btn-outline-danger" ng-click="removeListaDeseos(listadeseo)"> <i class="material-icons">delete_forever</i> </button>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>