<h2> <i class="material-icons">store</i> Productos</h2>

<hr>

<div class="row" align="right">
	<a ui-sref="app.productos.detalle({idProducto: '000'})" class="btn btn-primary">
		Crear Producto
	</a>
	<br><br>

	
</div>

<div class="row">

	<table class="table table-striped">
		<tr>
			<th>Imagen</th>
			<th>ID-Producto</th>
			<th>SKU</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Opciones</th>

		</tr>
		<tr ng-repeat="producto in $storage.productos">
			<td> <img src="img/imagenNoDisponible180.png" height="60" width="60" alt="logo"/> </td>
			
			<td> {{ producto.id }}</td>
			<td> {{ producto.sku }}</td>
			<td> {{ producto.name }}</td>
			<td> {{ producto.price }}</td>
			<td> <a ui-sref="app.productos.detalle({idproducto: producto.id})" class="btn btn-outline-success"> <i class="material-icons">pageview</i> Ver</a> 

				<button class="btn btn-info">  <i class="material-icons">list</i> Lista de Deseos  </button>
				<button class="btn btn-info" ng-click="addItemCarrito($index)"> <i class="material-icons">add_shopping_cart</i> </button>
				
				
				<button type="button" class="btn btn-outline-danger" ng-click="removeProducto($index)"> <i class="material-icons">delete_forever</i> </button>


			</td>

		</tr>
	</table>
	<br>

</div>