<h1>Productos</h1>
<h4>Lista de Productos</h4>
<hr>

<div class="row" align="right">
	<a ui-sref="app.productos.detalle({idProducto: '000'})" class="btn btn-info">
		Crear Producto
	</a>
	<br><br>
</div>

<div class="row">

	<table class="table table-striped">
		<tr>
			<th>ID-Producto</th>
			<th>SKU</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Opciones</th>

		</tr>

		<tr ng-repeat="producto in $storage.productos">
			<td> {{ producto.id }}</td>
			<td> {{ producto.sku }}</td>
			<td> {{ producto.name }}</td>
			<td> {{ producto.price }}</td>
			<td> <a ui-sref="app.productos.detalle({idproducto: producto.id})" class="btn btn-outline-success"> Ver Producto </a> 
				<button class="btn btn-info">  <i class="icon-plus-sign"></i> Agregar a Lista de Deseos   </button>
				<button class="btn btn-info">  <i class="icon-plus-sign"></i> Agregar a Carrito   </button>
				<button type="button" class="btn btn-outline-danger" ng-click="removeProducto($index)"> &times;</button>


			</td>

		</tr>
	</table>
	<br>

</div>

